$navbar-expand: lg;

// Font
$enable-responsive-font-sizes  : true;
$font-family-math              : MJXc-TeX-math-I, MJXc-TeX-math-Ix, MJXc-TeX-math-Iw;
$font-family-heading-sans-serif: "Raleway",       -apple-system,    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif,  "Apple Color Emoji", "Segoe UI Emoji",    "Segoe UI Symbol", "Noto Color Emoji";

// Subjects
$mathematics: hsl(350, 70%, 50%);
$physics    : hsl(200, 70%, 50%);
$chemistry  : hsl(263, 70%, 50%);

$subjects: (
  "mathematics": $mathematics,
  "physics"    : $physics,
  "chemistry"  : $chemistry
);

// General
$input-bg:           var(--input-bg);
$input-color:        var(--input-color);
$input-border-color: var(--input-border-color);
$link-color: #8c9ba7;

// Speed
$speed-ease    : cubic-bezier(0.4, 0.0, 0.2, 1);
$speed-incoming: cubic-bezier(0.0, 0.0, 0.2, 1);

// Transition
$transition-all-ease: all .35s $speed-ease;