// Selection
::selection { background: var(--selection-bg); }

body {
  background: var(--body-bg);
  color:      var(--body-color);
}

.body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1, h2, h3, h4, h5, h6
.h1, .h2, .h3, .h4, .h5, .h6 {
  color: var(--body-color-highlight);
  font-family: $font-family-heading-sans-serif;
}

// Categories
.categories {
  .row {
    margin-top:    1rem;
    margin-bottom: 1rem;
  }
  .title {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0;
    color: var(--category-color);
  }
  a {
    text-decoration: none;
  }
  .list {
    display: flex;
    flex-wrap: wrap;
    line-height: 2.5rem;
    list-style: none;
    padding: 0;
    margin: 0 calc(var(--bs-gutter-x) / -2);
    overflow: hidden;
    a {
      display: flex;
      flex: 1 1 100%;
      padding: 0 1rem;
      margin-bottom: 1rem;
      font-size: 110%;
      font-weight: 500;
      @include media-breakpoint-up(sm) {
        flex: 0 1 50%;
      }
      @include media-breakpoint-up($navbar-expand) {
        flex: 0 1 33.3333%;
      }
      &:hover {
        color: var(--category-color);
      }
    }
  }
}

// Category header
.category { 
  padding:    1rem 0;
  background: var(--category-color);
  font-size: 100%;
  @include media-breakpoint-up(md) {
    font-size: 120%;
    padding:    1.5rem 0;
  }
  a {
    text-decoration: none;
  }
  .title-small {
    margin:         0;
    font-size:      95%;
    font-weight:    600;
    color:          var(--body-color-highlight);
    text-transform: uppercase;
    opacity:        var(--alpha-normal);
  }
  .title-large {
    margin:      0;
    font-size:   170%;
    font-weight: bold;
    color:       var(--body-color-highlight);
  }
  .dropdown-options {
    margin-left: 1.5rem;
    .btn {
      border-radius: 999rem;
      padding: .35rem;
      border-color: var(--body-color-highlight);
      color: var(--body-color-highlight);
      border-width: 2px;
    }
  }
}

// Anchor
a {
  transition: color 0.35s ease;
}