// Selection
::selection { background: var(--selection-bg); }

body {
	background: var(--body-bg);
	color:      var(--body-color);
	transition: $transition-all-ease;
}

// Anchor
a {
	transition: color 0.35s ease;
	outline: 0;
}

// Paragraphs
p {
	@include rs('font-size', 0.9rem, 1.5vw, 1rem);
	&.lead {
		@include rs('font-size', 1rem, 1.5vw, 1.15rem);
	}
}

.link-category {
	color: $link-color;
	&:hover {
		color: var(--category-color, #{$primary});
	}
}

.page-svg {
	position: absolute;
	top: 50%;
	left: 50%;
	display: block;
	max-width: 100%;
	transform: translate(-50%, -50%);
	pointer-events: none;
	user-select: none;
	opacity: 0.25;
}

.main-header {
	display: none;
	@include media-breakpoint-up($navbar-expand) {
		display: block;
		margin: 0 0 1rem;
	}
}