@use "sass:color";
@use "sass:math";

:root {
  --dropdown-backdrop-filter: blur(15px) saturate(150%);
  --bs-gutter-x: 1.25rem;
}

// Light
@mixin theme-light() {
  --theme-name:               light;
  --theme-icon:               "\f497";
  --theme-lightness:          98%;
  --theme-inverted-lightness: 05%;

  --alpha-normal:           0.75;
  --alpha-active:           0.85;
  --alpha-hover:            0.65;
  --alpha-acrylic:          0.925;
  --alpha-acrylic-backdrop: 0.75;

  --selection-bg: hsla(0, 0%, 05%, 0.15);
  
  --separator-color: hsl(0, 0%, 85%);
  --separator:       1px solid var(--separator-color);

  --body-bg:              hsl(0, 0%, 90%);
  --body-color-muted:     hsl(0, 0%, 70%);
  --body-color:           hsl(0, 0%, 60%);
  --body-color-highlight: hsl(0, 0%, 35%);

  --header-color: hsl(0, 0%, 65%);
  --footer-color: hsl(0, 0%, 62.5%);

  --category-color: hsl(0, 0%, 95%);

  --input-bg:           hsl(0, 0%, 97%);
  --input-color:        hsl(0, 0%, 15%);
  --input-border-color: hsl(0, 0%, 85%);

  --input-focus-bg:           hsl(0, 0%, 99%);
  --input-focus-color:        hsl(0, 0%, 10%);
  --input-focus-border-color: var(--#{$variable-prefix}primary);

  // Bootstrap color modifier.
  @each $name, $value in $colors {
    $color: $value;
    --#{$variable-prefix}#{$name}-hsl: #{math.round(color.hue($color)), math.round(color.saturation($color)), math.round(color.lightness($color))};

  }
  @each $name, $value in $theme-colors {
    $color: $value;
    --#{$variable-prefix}#{$name}-hsl: #{math.round(color.hue($color)), math.round(color.saturation($color)), math.round(color.lightness($color))};
  }

  @each $subject, $color in $categories {
    .#{$subject} {
      --category-color:     #{$color};
      --category-color-hsl: #{color.hue($color), color.saturation($color), color.lightness($color)};
      --category-color-h:   #{color.hue($color)};
      --category-color-s:   #{color.saturation($color)};
      --category-color-l:   #{color.lightness($color)};
    }
  }
}

// Dark
@mixin theme-dark() {
  --theme-name:               dark;
  --theme-icon:               "\f5a2";
  --theme-lightness:          07%;
  --theme-inverted-lightness: 90%;

  --alpha-normal:            0.55;
  --alpha-active:            0.65;
  --alpha-hover:             0.45;
  --alpha-acrylic:          0.925;
  --alpha-acrylic-backdrop: 0.75;

  --selection-bg: hsla(0, 0%, 90%, 0.125);

  --separator-color: hsl(0, 0%, 15%);
  --separator:       1px solid var(--separator-color);

  --body-bg:              hsl(0, 0%, 05%);
  --body-color-muted:     hsl(0, 0%, 30%);
  --body-color:           hsl(0, 0%, 60%);
  --body-color-highlight: hsl(0, 0%, 80%);
  
  --header-color:           hsl(0, 0%, 35%);
  --footer-color:           hsl(0, 0%, 32.5%);

  --category-color: hsl(0, 0%, 05%);

  --input-bg:           hsl(0, 0%, 09%);
  --input-color:        hsl(0, 0%, 55%);
  --input-border-color: hsl(0, 0%, 15%);

  --input-focus-bg:           hsl(0, 0%, 10%);
  --input-focus-color:        hsl(0, 0%, 60%);
  --input-focus-border-color: var(--#{$variable-prefix}primary);

  // Bootstrap color modifier.
  @each $name, $value in $colors {
    $color: darken(desaturate($value, 20%), 10%);
    --#{$variable-prefix}#{$name}: #{$color};
    --#{$variable-prefix}#{$name}-hsl: #{math.round(color.hue($color)), math.round(color.saturation($color)), math.round(color.lightness($color))};

  }
  @each $name, $value in $theme-colors {
    $color: darken(desaturate($value, 20%), 10%);
    --#{$variable-prefix}#{$name}: #{$color};
    --#{$variable-prefix}#{$name}-hsl: #{math.round(color.hue($color)), math.round(color.saturation($color)), math.round(color.lightness($color))};
  }
  // Categories
  @each $name, $value in $categories {
    $color: darken(desaturate($value, 20%), 10%);
    .#{$name} {
      --category-color:     #{$color};
      --category-color-hsl: #{color.hue($color), color.saturation($color), color.lightness($color)};
      --category-color-h:   #{color.hue($color)};
      --category-color-s:   #{color.saturation($color)};
      --category-color-l:   #{color.lightness($color)};
    }
  }
  // Social
  @each $name, $value in $social {
    $color: darken(desaturate($value, 20%), 10%);
    .#{$name} {
      --#{$name}: #{$color}
    }
  }
}

.theme-light {
  @include theme-light();
  .theme-icon {
    &::before {  
      --theme-animation: theme-light;
      --theme-icon:      "\f497";
    }
  }
}

.theme-dark {
  @include theme-dark();
  .theme-icon {
    &::before {      
      --theme-animation: theme-dark;
      --theme-icon:      "\f5a2";
    }
  }
}