.toggle-enter-active, 
.toggle-leave-active {
	transition: all 0.5s ease, opacity 0.75s ease;
}
.toggle-enter,
.toggle-leave-to {
	overflow: hidden;
	height: 0;
	opacity: 0;
	transform: translateY(-5%) scale(1.025);
}

.fade-enter-active, 
.fade-leave-active {
	transition: opacity 0.5s ease;
}
.fade-enter,
.fade-leave-to {
	opacity: 0;
}