// Expand
$navbar-expand: lg;
$abbr-expand:   md; // Expands from this

// Options
$app-header: false;
$app-body-padding:      1rem;
$app-nav-height:        17.5vw;
$app-nav-max-height:    70px;
$app-nav-margin:        1rem;
$app-nav-border-radius: 1rem;

// Font
$font-family-math:               serif;
$font-family-heading-sans-serif: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$headings-font-family: $font-family-heading-sans-serif;
$headings-font-weight: 500;

// Colors
$red:     hsl(000, 70%, 55%);
$orange:  hsl(025, 85%, 55%);
$yellow:  hsl(050, 99%, 50%);
$olive:   hsl(075, 75%, 40%);
$green:   hsl(120, 70%, 40%);
$teal:    hsl(170, 85%, 40%);
$cyan:    hsl(195, 85%, 40%);
$blue:    hsl(215, 95%, 45%);
$purple:  hsl(260, 85%, 50%);
$indigo:  hsl(270, 95%, 55%);
$magenta: hsl(285, 85%, 50%);
$pink:    hsl(335, 75%, 55%);
$white:   hsl(0, 100%, 100%);
$gray:    hsl(220, 10%, 40%);
$black:   hsl(0,   0%,   0%);

// Theme
$colors: (
	"blue":       $blue,
	"indigo":     $indigo,
	"purple":     $purple,
	"pink":       $pink,
	"red":        $red,
	"orange":     $orange,
	"yellow":     $yellow,
	"green":      $green,
	"teal":       $teal,
	"cyan":       $cyan,
	"white":      $white,
	"gray":       $gray,
);

// Social
$github:   hsl(000, 00%, 40%);
$facebook: hsl(231, 48%, 48%);
$twitter:  hsl(199, 98%, 48%);
$discord:  hsl(227, 58%, 65%);
$windows:  hsl(199, 98%, 48%);
$android:  hsl(089, 46%, 48%);
$apple:    hsl(000, 00%, 33%);

// Theme
$custom-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark
);

// Merge the maps
$theme-colors:     map-merge($theme-colors, $colors);
$theme-colors:     map-merge($theme-colors, $custom-colors);
$theme-colors-rgb: map-loop($theme-colors, to-rgb, "$value");

// Categories
$categories: (
  "universal":   $orange,
  "mathematics": $red,
  "physics":     $blue,
  "chemistry":   $indigo,
  "equations":   $olive,
  "formulas":    $green,
  "constants":   $teal,
  "magnitudes":  $cyan,
  "variables":   $blue,
  "units":       $purple,
  "prefixes":    $magenta,
);

// Social
$social: (
  "github":   $github,
  "facebook": $facebook,
  "twitter":  $twitter,
  "discord":  $discord,
  "windows":  $windows,
  "android":  $android,
  "apple":    $apple
);

$app-menu: (
  "home": "blue",
  "search": "indigo",
  "calculator": "pink",
  "favorites": "red",
  "settings": "yellow"
);

// Buttons
$btn-padding-x: 1rem;
$btn-padding-y: 0.5rem;
$btn-border-radius: 0.5rem;

// Card
$card-border-width: 0;

// Dropdown
$dropdown-bg:               hsl(220, 10%, var(--theme-lightness), var(--alpha-dropdown));
$dropdown-color:            var(--body-color);
$dropdown-border-color:     var(--separator-color);
$dropdown-link-color:       var(--body-color-highlight);
$dropdown-link-hover-color: var(--body-color-highlight);
$dropdown-link-hover-bg:    hsla(220, 10%, var(--theme-inverted-lightness),0.15);

// Links
$link-color:            #8c9ba7;
$link-shade-percentage: 20% !default;
$link-hover-color:      shift-color($link-color, $link-shade-percentage) !default;

// Forms
$input-bg:                 var(--input-bg);
$input-color:              var(--body-color);
$input-border-color:       var(--input-border-color);
$input-placeholder-color:  var(--body-color-muted);
$input-disabled-bg:        hsla(0, 0%, var(--theme-inverted-lightness), 0.1);
$input-disabled-color:     hsla(0, 0%, var(--theme-inverted-lightness), 0.15);

$input-focus-bg:           var(--input-focus-bg);
$input-focus-color:        var(--body-color);
$input-focus-border-color: var(--input-focus-border-color);

$form-select-bg:                 var(--input-bg);
$form-select-color:              var(--body-color);
$form-select-border-color:       var(--input-border-color);
$form-select-placeholder-color:  var(--body-color-muted);
$form-select-disabled-bg:        hsla(0, 0%, var(--theme-inverted-lightness), 0.1);
$form-select-disabled-color:     hsla(0, 0%, var(--theme-inverted-lightness), 0.15);

// Paragraphs
$lead-font-weight:          400;