/*!
  Equreka
  Version: 1.0.0
*/

// Bootstrap
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
@import "variables";
// Bootstrap
@import "bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons.css";
// Our style
@import 'functions';
@import 'mixins';
@import 'root';
@import 'components';
@import 'pages';
@import "custom";
@import "layout";

.theme-transition {
  .theme-icon {
    animation: theme-change 0.35s $transition-speed-ease forwards !important;
  }
}

.theme-icon {
  &::before {
    content: var(--theme-icon) !important;
  }
}

