// Abbreviature
.abbr {
	display: inline-block;
	min-width: 30px;
	span {
		display: none;
		@include media-breakpoint-up($abbr-expand) {
			display: inline;
		}
	}
	abbr {
		display: inline;
		@include media-breakpoint-up($abbr-expand) {
			display: none;
		}
	}
	&.always {
		span {
			display: inline !important;
		}
		abbr {
			display: none !important;
		}
	}
}