.card-collapse {
	.collapse-header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		.card-title {
			margin: 0;
			font-weight: 600;
			@include rs('font-size', 1.15rem, 2vw, 1.65rem);
		}
		.btn-go {
			color: var(--body-color);
			background: hsla(220, 20%, 50%, 0.2);
			@include rs('font-size', 0.75rem, 1vw, 0.95rem);
			.bi {
				transition: $transition-all-ease;
			}
			span {
				padding: 0 0.35rem;
				display: block;
				overflow: hidden;
				white-space: nowrap;
				padding: 0;
				width: 0;
				opacity: 0;
				transform-origin: right center;
				transform: scaleX(0);
				transition: $transition-all-ease;
				@include media-breakpoint-up($navbar-expand) {
					opacity: 1;
					width: auto;
					transform: scaleX(1);
					padding: 0 0.5rem;
					.bi {
						margin-right: 0.5rem;
					}
				}
			}
			&:hover {
				span {
					opacity: 1;
					width: auto;
					transform: scaleX(1);
					padding: 0 0.5rem;
				}
				.bi {
					margin-right: 0.5rem;
				}
			}
		}
	}
	.list {
		display    : flex;
		flex-wrap  : wrap;
		list-style : none;
		padding    : 0;
		a {
			display: flex;
			flex   : 0 1 auto;
			align-items: stretch;
			padding: 0.5rem 0.75rem;
			border-radius: 0.5rem;
			text-decoration: none;
			transition: all 0.35s ease !important;
			@include rs('font-size', 0.95rem, 2vw, 1rem);
			.badge {
				display: flex !important;
				align-items: center;
				margin-right: 0.5rem;
				color: inherit;
				border: 1px solid var(--body-color-muted);
				transition: all 0.35s ease !important;
			}
			.name {
				display: flex;
				align-items: center;
				font-weight: 500;
			}
			&:hover {
				color: var(--body-color-highlight);
				background: hsla(220, 20%, 50%, 0.2);
				.badge {
					color: var(--body-bg);
					background: var(--body-color-highlight);
					border-color: var(--body-color-highlight);
				}
			}
		}
	}
}