.card {
	position: relative;
	transition: all 0.35s ease;
	@include rs('border-radius', 0.5rem, 1.5vw, 1rem);
	@include rs('margin-bottom', 0.75rem, 2vw, 1.15rem);
	@include acrylic-bg();
	.card-body {
		@include rs('padding-top',    1.25rem, 2vw, 1.25rem);
		@include rs('padding-bottom', 1.25rem, 2vw, 1.25rem);
		@include rs('padding-left',   0.95rem, 2vw, 1.25rem);
		@include rs('padding-right',  0.95rem, 2vw, 1.25rem);
	}
	.card-title {
		color: var(--body-color-highlight);
		font-weight: 600;
		@include rs('font-size',      1.1rem, 2vw, 1.25rem);
		@include rs('margin-bottom',  0.5rem, 2vw, 0.85rem);
	}
	p:last-child {
		margin-bottom: 0;
	}
}

// Diasble shadow for dark theme
.theme-dark .card {
	box-shadow: none !important;
}

.card-mathjax,
.card-calculator {
	color:      var(--body-color-highlight);
	position:   relative;
	overflow:   auto;
	@include rs('font-size', 1.25rem, 3vw, 2.5rem);
	&::-webkit-scrollbar {
		background: transparent;
		border-radius: 100px;
		width:      3px;
		height:     3px;
		@include media-breakpoint-up($navbar-expand) {
			width:      10px;
			height:     10px;
		}
	}
	&::-webkit-scrollbar-track {
		background:  transparent;
	}
	&::-webkit-scrollbar-thumb {
		background: hsla(var(--eqk-color-hsl, 220, 20%, 40), 0.35);
		border-radius: 100px;
	}
	&::-webkit-scrollbar-thumb:active {
		background: hsla(var(--eqk-color-hsl, 220, 20%, 40), 0.65);
	}
	.card-body {
		flex: 1 0;
		display: flex;
		align-items: center;
		padding-left: 1rem;
		padding-right: 1rem;
		@include rs('padding-top',  1.5rem, 4vw, 3rem);
		@include rs('padding-bottom',  1.5rem,4vw, 3rem);
	}
}

// Mathjax
.card-mathjax {
	transition: all 0.5s ease;
	.card-body {
		grid-gap: 0.25em;
		gap: 0.25em;
		height: 0;
		transform: scaleY(0);
		transition: all 0.35s ease;
		animation: mathjax 0.35s 0.35s ease forwards;
		&::before,
		&::after {
			content: " ";
			display: block;
			min-width: 1rem;
			min-height: 1rem;
		}
		&::before {
			margin-left: auto;
		}
		&::after {
			margin-right: auto;
		}
	}
	.hover {
		color: var(--term-color);
	}
}

// Symbol
.card-symbol {
	@include rs('font-size', 1.15rem, 3vw, 3rem);
}

// Information
.card-information {
	p {
		white-space: pre-line;
	}
}

.card-category,
.card-type {
	box-shadow: 0 0.5rem 1.25rem -1rem var(--eqk-color);
}