.card {
	position: relative;
	@include rs('border-radius', 0.5rem, 1.5vw, 1rem);
	@include rs('margin-bottom', 0.75rem, 2vw, 1.15rem);
	@include acrylic-bg();
	.card-body {
		@include rs('padding',  0.75rem, 2vw, 1rem);
	}
	.card-title {
		color: var(--body-color-highlight);
		font-weight: 600;
		@include rs('font-size',      1.1rem, 2vw, 1.25rem);
		@include rs('margin-bottom',  0.5rem, 2vw, 0.85rem);
	}
	p:last-child {
		margin-bottom: 0;
	}
}

// Diasble shadow for dark theme
.theme-dark .card {
	box-shadow: none !important;
}

// Expression
.card-expression {
	position: relative;
	color:      var(--body-color-highlight);
	transition: all 0.5s $transition-speed-ease;
	@include rs('font-size', 1.5rem, 3vw, 2.5rem);
	.card-body {
		display: flex;
		align-items: baseline;
		justify-content: center;
		grid-gap: 0.25em;
		gap: 0.25em;
		width: 100%;
		@include rs('padding-top',  1.5rem, 2vw, 3rem);
		@include rs('padding-bottom',  1.5rem, 2vw, 3rem);
	}
	.MathJax {
		font-size: inherit !important;
	}
}

// Mathjax
.card-mathjax {
	display:         flex;
	align-items:     center;
	justify-content: center;
	flex:            1 1 100%;
	order:           0;
	mjx-container {
		margin: 0;
		&::after {
			display: none;
		}
	}
	.hover {
		color: var(--term-color);
	}
	.card-body {
		opacity: 0;
	}
	&.rendered {
		.loader {
			animation: loader-complete 0.35s $transition-speed-ease forwards;
		}
		.card-body {
			animation: loaded 0.35s 0.35s $transition-speed-ease forwards;
		}
	}
}

// Symbol
.card-symbol {
	@include rs('font-size', 1.15rem, 3vw, 3rem);
}

// Description
.card-description {
	p {
		white-space: pre-line;
	}
	*:last-child {
		margin: 0;
	}
}

.card-category,
.card-type {
	box-shadow: 0 0.5rem 1.25rem -1rem var(--eqk-color);
}