.dropdown-menu {
  border: 0;
  color:  var(--body-color) !important;
  @include acrylic-bg();
  &.show {
    animation: dropdown 0.5s ease;
  }
  .dropdown-item {
    transition: $transition-all-ease;
  }
  .dropdown-header {
    font-size:      0.8rem;
    font-family:    $font-family-heading-sans-serif;
    font-weight:    800;
    text-transform: uppercase;
    letter-spacing: 1px;
    color:          var(--body-color-highlight);
  }
}

.dropdown-toggle-no-caret {
  &::after {
    display: none;
  }
}