// Footer
footer {
  margin-top: auto;
  padding:    1rem 0;
  color: var(--footer-color);
  @include rs('font-size', 0.85rem, 2vw, 1rem);
  .col {
    padding: 0;
    display: flex;
    align-items: center;
  }

  a {
    transition: color 0.35s ease;
    outline: 0;
    &:focus {
      background: hsla(0, 0%, var(--theme-inverted-lightness), 0.075);
      border-radius: 0.25rem;
    }
  }

  
  .logo {
    margin-top: 1rem;
    order: 3;
    flex: 1 1 100%;
    align-items: center;
    justify-content: center;
    opacity: 0.5;
    @include media-breakpoint-up($navbar-expand) {
      display: none;
    }
    svg {
      width: 100%;
      max-width: 22px;
      height: auto;
    }
  }

  .equreka {
    display: none;
    @include media-breakpoint-up($navbar-expand) {
      order: 0;
      display: flex;
    }
  }

  .nav-link {
    padding: .5rem;
    display: inline-flex;
    align-items: center;
    color: var(--footer-color);
    transition: all 0.35s ease;
    @include media-breakpoint-up(md) {
      padding: .65rem;
    }
    &:hover,
    &:focus {
      color: var(--body-color);
    }
  }

  .social {
    justify-content: center;
    flex: 1;
    .github {
      &:hover,
      &:focus {
        color: hsl(0, 0%, 40%);
      }
    }
    .facebook {
      &:hover,
      &:focus {
        color: hsl(231, 48%, 48%);
      }
    }
    .twitter {
      &:hover,
      &:focus {
        color: hsl(199, 98%, 48%);
      }
    }
    .discord {
      &:hover,
      &:focus {
        color: hsl(227, 58%, 65%);
      }
    }
    .windows {
      &:hover,
      &:focus {
        color: hsl(199, 98%, 48%);
      }
    }
    .android {
      &:hover,
      &:focus {
        color: hsl(89, 46%, 48%);
      }
    }
    .apple {
      &:hover,
      &:focus {
        color: hsl(0, 0%, 33%);
      }
    }
    .icon {
      line-height: 1;
      @include rs('font-size', 0.85rem, 2vw, 1.15rem);
    }
  }

  .links {
    justify-content: center;
    order: -1;
    flex: 1 1 100%;
    @include media-breakpoint-up($navbar-expand) {
      order: 1;
      flex: 1;
      justify-content: flex-end;
    }
    .nav {
      flex-wrap: none;
    }
    a {
      &:hover {
        text-decoration: underline;
      }
    }
  }

}