// Footer
footer {
  margin-top: auto;
  padding:    2rem 0;
  color: var(--footer-color);
  .col {
    padding: 0;
    display: flex;
    align-items: center;
  }
  .nav-link {
    font-size: 90%;
    padding: .5rem;
    display: inline-flex;
    align-items: center;
    color: var(--footer-color);
    transition: all 0.35s ease;
    @include media-breakpoint-up(md) {
      font-size: 100%;
      padding: .65rem;
    }
    &:hover {
      color: var(--body-color);
    }
  }
  .equreka {
    display: none;
    @include media-breakpoint-up($navbar-expand) {
      order: 0;
      display: block;
    }
  }
  .social {
    justify-content: flex-end;
    flex: 1;
    @include media-breakpoint-up($navbar-expand) {
      justify-content: center;
    }
    .github:hover {
      color: hsl(0, 0%, 40%);
    }
    .facebook:hover {
      color: hsl(231, 48%, 48%);
    }
    .twitter:hover {
      color: hsl(199, 98%, 48%);
    }
    .discord:hover {
      color: hsl(227, 58%, 65%);
    }
    .windows:hover {
      color: hsl(199, 98%, 48%);
    }
    .android:hover {
      color: hsl(89, 46%, 48%);
    }
    .apple:hover {
      color: hsl(0, 0%, 33%);
    }
    .icon {
      font-size: 100%;
      line-height: 1;
      @include media-breakpoint-up(md) {
        font-size: 115%;
      }
    }
  }
  .links {
    justify-content: flex-start;
    order: -1;
    flex: 1 0 35%;
    @include media-breakpoint-up($navbar-expand) {
      order: 1;
      flex: 1;
      justify-content: flex-end;
    }
    .nav {
      flex-wrap: none;
    }
    a {
      &:hover {
        text-decoration: underline;
      }
    }
  }
}