// Header
.header {
  padding:    1rem 0;
  color:      var(--header-color);
  transition: $transition-all-ease;
  .container {
    display    : flex;
    align-items: stretch;
    flex-wrap  : wrap !important;    
  }
  .navbar-brand {
    padding:      0;
    margin-right: 0.5rem;
  }
  // Divisions
  .left,
  .center,
  .right {
    display: flex;
    flex   : 1;
  }

  .left,
  .right {
    @include media-breakpoint-down($navbar-expand) {
      margin-bottom: 1rem;
    }
  }
  
  // Center
  .center {
    flex           : 1 1 auto;
    justify-content: center;
    align-self     : center;
    @include media-breakpoint-down($navbar-expand) {
      order: 2;
      flex : 1 0 100%;
    }
  }
  // Icons
  .bi {
    font-size:     24px;
    margin-bottom: -2px;
  }
  .left {
    .bi {
      font-size: 28px;
    }
  }
  // Right
  .right {
    justify-content: flex-end;
    margin-right:    -0.5rem;
  }
  // Button
  .btn {
    font-family:     $font-family-heading-sans-serif;
    font-weight:     600;
    text-decoration: none;
    box-shadow:      none;
    color:           var(--header-color);
    transition:      $transition-all-ease;
    &:hover,
    &[aria-expanded="true"] {
      color: var(--body-color-highlight);
    }
  } 
}