// Loader
.loader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  .icon {
    display: block;
    height: auto;
    opacity: 1;
    @include rs('width', 32px, 10vw, 128px);
    .circle {
      animation: loader-loading 2s linear infinite;
      @for $i from 1 through 7 {
        $delay: $i * .25s;
        &:nth-child(#{$i}) {
          animation-delay: #{$delay};
        }
      }
    }
  }
}

@keyframes loader-loading {
  50% {
    opacity: 0.35;
  }
}

@keyframes loader-complete {
  100% {
    opacity: 0;
    transform: scale(0);
  }
}