// Math
.eqk-term {
  transition: all .35s ease, font-size 0s;
  &.hover {
    color: var(--term-color, green);
    a {
      color: var(--term-color, green);
    }
  }
  &.variable {
    --term-color: #{$red};
  }
  &.constant {
    --term-color: #{$blue};
  }
}

.math {
  font-family: $font-family-math;
  font-style: oblique;
  font-weight: bold;
  font-size: 120%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.terms {
  .symbol {
    font-size: 135%;
    font-style: oblique;
    font-family: $font-family-math;
    &.unit {
      font-size: 100%;
    }
  }
}