// Page Header
.page-header { 
	//background: hsl(var(--eqk-color-h), var(--eqk-color-s), 40%);
	background: linear-gradient(
		0, 
		var(--eqk-color),
		transparent 250%
	);
	box-shadow: 0 0.5rem 2rem -1rem var(--eqk-color);
	@include rs('padding-top',    0.75rem, 2vw, 1.35rem);
	@include rs('padding-bottom', 0.75rem, 2vw, 1.35rem);
	@include rs('margin-bottom',  0.75rem, 2vw, 1.35rem);
	a {
		text-decoration: none;
	}
	.wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	// Info
	.info {
		display: block;
		a {
			&:hover,
			&:focus {
				color: hsl(var(--eqk-color-h), var(--eqk-color-s), 97%) !important;
			}
		}
		.category,
		.type {
			margin:         0;
			font-weight:    600;
			font-family:    $font-family-heading-sans-serif;
			color:          hsl(var(--eqk-color-h), var(--eqk-color-s), 80%);
			text-transform: uppercase;
			letter-spacing: 1px;
			@include rs('font-size', 0.75rem, 2vw, 1rem);
			@include media-breakpoint-up(sm) {
				font-weight:  700;
			}
			@include media-breakpoint-up($navbar-expand) {
				font-weight:  800;
			}
		}
		.divider {
			margin:    0 0.15rem;
			opacity:   0.75;
			color:     hsl(var(--eqk-color-h), var(--eqk-color-s), 80%);
			@include rs('font-size', 0.65rem, 2vw, 0.95rem);
			@include media-breakpoint-up($navbar-expand) {
				margin:  0 0.25rem;
			}
		}
		.title {
			margin:         0;
			color:          hsl(var(--eqk-color-h), 100%, 95%);
			font-weight:    600;
			font-family:    $font-family-heading-sans-serif;
			letter-spacing: 1px;
			@include rs('font-size', 1.35rem, 3vw, 2rem);
			@include media-breakpoint-up($navbar-expand) {
				font-weight: 700;
			}
		}
	}
	.actions {
		display: flex;
		align-items: center;
		margin-left: 1.25rem;
		.btn {
			display:         flex;
			align-items:     center;
			justify-content: center;
			border-radius:   99rem;
			color:           hsl(var(--eqk-color-h), 100%, 85%);
			box-shadow:      none !important;
			@include rs('padding', 0.5rem, 1vw, 0.75rem);
			@include rs('font-size', 1.15rem, 2vw, 1.35rem);
			&:hover,
			&:focus,
			&[aria-expanded="true"] {
				color: hsl(var(--eqk-color-h), 100%, 95%);
				background:  hsl(var(--eqk-color-h), var(--eqk-color-s), calc(var(--eqk-color-l) + 5%));
			}
		}
	}
}