:root {
  --separator:            1px solid var(--separator-color); 
}

// Light
@mixin theme-light() {
  --theme-lightness:          98%;
  --theme-inverted-lightness: 05%;
  --separator-color:          hsla(0, 0%, 20%, 0.15);
  --body-bg:                  hsl(0, 0%, 90%);
  --body-color:               hsl(0, 0%, 20%);
  --body-color-highlight:     hsl(0, 0%, 05%);
  --category-color:           hsl(0, 0%, 95%);
  --input-bg:                 hsl(0, 0%, 95%);
  --input-color:              hsl(0, 0%, 15%);
  --input-border-color:       hsl(0, 0%, 95%);
  --selection-bg:             hsla(0, 0%, 05%, 0.15);
  .category { 
    @each $subject, $color in $subjects {
      &.#{$subject} {
        --category-bg: #{$color};
      }
    }
  }
}

// Dark
@mixin theme-dark() {
  --theme-lightness:          07%;
  --theme-inverted-lightness: 90%;
  --separator-color:          hsla(0, 0%, 90%, 0.10);
  --body-bg:                  hsl(0, 0%, 05%);
  --body-color:               hsl(0, 0%, 60%);
  --body-color-highlight:     hsl(0, 0%, 75%);
  --category-color:           hsl(0, 0%, 05%);
  --input-bg:                 #{lighten(#000, 10)};
  --input-color:              hsl(0, 0%, 55%);
  --input-border-color:       #{lighten(#000, 10)};
  --selection-bg:             hsla(0, 0%, 90%, 0.125);
  .category { 
    @each $subject, $color in $subjects {
      &.#{$subject} {
        --category-bg: #{darken(desaturate($color, 30%), 15%)};
      }
    }
  }
}

.theme-light {
  @include theme-light();
  .icon-theme {
    &::before {
      content: "\f497";
    }
  }
}

.theme-dark {
  @include theme-dark();
  .icon-theme {
    &::before {
      content: "\f5a2";
    }
  }
}

.theme-transition {
  *,
  *::before,
  *::after {
    transition: all 0.35s ease !important;
  }
  .icon-theme {
    animation: fade-in 0.35s ease forwards;
  }
}