// Search Bar
.search-bar {
  width:    100%;
  position: relative;
  input {
    margin:        0 auto;
    width:         100%;
    padding:       0.65rem 3rem 0.65rem 1.5rem;
    border-radius: 99rem;
    transition:    $transition-all-ease;
    border:        0;
    &:focus {
      background: var(--body-bg);
      box-shadow: 0 0 0 0.15rem hsla(220, 100%, var(--theme-inverted-lightness), 0.10);
    }
  }
  .btn {
    display:         flex;
    align-items:     center;
    justify-content: center;
    position:        absolute;
    top:             50%;
    bottom:          0;
    right:           0;
    width:           2.45rem;
    height:          2.45rem;
    padding:         0;
    border-radius:   99rem !important;
    transform:       translate(-10%, -50%);
    color:           var(--header-color);
    transition:      $transition-all-ease;
    box-shadow:      none;
    .bi {
      font-size: 1rem;
    }
    &:hover,
    &:focus,
    &[aria-expanded="true"] {
      color:      var(--body-color-highlight);
      background: hsla(220, 100%, var(--theme-inverted-lightness), 0.075);
    }
  }
  &.lg {
    input {
      font-size: 115%;
      padding: 0.75rem 3rem 0.75rem 1.5rem;
    }
    .btn {
      width: 2.75rem;
      height: 2.75rem;
    }
  }
  .search-results {
    position:      absolute;
    margin-top:    0.5rem;
    padding:       1rem 0;
    top:           100%;
    left:          0;
    right:         0;
    border:        0;
    z-index:       999;
    max-height:    200px;
    animation:     fade-in 0.5s forwards;
  }
}

.search-results {
  @include acrylic-bg();
  border-radius: 1rem;
  transition:    $transition-all-ease;
  overflow-y:    auto;
  &::-webkit-scrollbar {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background: var(--separator-color);
    border-radius: 10px;
  }
  
  .items {
    animation: fade-in 0.35s forwards;
    &:first-child {
      .title {
        margin-top: 0;
      }
    }
    .title {
      font-size:      1rem;
      padding:        0 1rem;
      margin:         1rem 0 0.5rem;
      font-weight:    600;
      display:        flex;
      align-items:    center;
      color:          var(--body-color-highlight);
      line-height:    1;
      pointer-events: none;
      .badge {
        display:         flex;
        align-items:     center;
        justify-content: center;
        margin-left:     0.5rem;
        border:          1px solid var(--body-color);
        color:           var(--body-color);
        padding:         0.45rem 0.35rem;
        line-height:     0;
      }
    }
    .item {
      display:         flex;
      align-items:     center;
      justify-content: space-between;
      padding:         0.25rem 1rem;
      color:           var(--body-color-highlight);
      text-decoration: none;
      transition:      $transition-all-ease;
      outline:         0;

      &:hover,
      &:focus {      
        background: hsla(var(--category-color-h), 85%, 50%, 0.2);
        color:      var(--body-color-highlight);
        a {
          color: hsl(var(--category-color-h), 100%, 90%) !important
        }
      }
      &:active {
        background: hsla(var(--category-color-h), 85%, 50%, 0.5);
      }
    }
  }
}