// Table
// Table Responsive
.table-responsive {
  &::-webkit-scrollbar {
    background: rgba(0,0,0, 0.15);
    width:      10px;
    height:     10px;
  }
  &::-webkit-scrollbar-thumb {
    background:    var(--separator-color);
    border-radius: 5px;
    transition:    $transition-all-ease;
  }
  &::-webkit-scrollbar-thumb:active {
    background: var(--bs-primary);            
  }
}

// Table
.table-data {
  color:  inherit;
  width:  auto;
  th,
  td {
    border:      0;
    white-space: nowrap;
  }
  th {
    font-size:      80%;
    font-weight:    bold;
    font-family:    $font-family-heading-sans-serif;
    text-transform: uppercase;
    color: var(--body-color-muted);
  }
  tr {
    vertical-align: baseline;
    &:hover {
      td {
        $td-border-radius: 0.5rem;
        background: hsla(var(--term-color-hsl, var(--category-color-hsl)), 0.15);
        &:first-child {                  
          border-radius: $td-border-radius 0 0 $td-border-radius;
        }
        &:last-child:last-child {
          border-radius: 0 $td-border-radius $td-border-radius 0;
        }
        &.symbol:first-child {
          color: var(--term-color, var(--body-color-highlight));
        }
      }
    } 
    td {                
      transition: $transition-all-ease;
      &.variable,
      &.constant {
        &:first-child {
          font-weight: 600;
          text-align: center;
        }
      }
      &.symbol {
        color: var(--body-color-highlight);
      }
      &.unit.symbol {
        font-size: 105%;
      }
      &.unit.value {
        font-size: 110%;
        font-weight: normal;
        font-style: normal;
        color: var(--body-color-highlight);
      }
    }
  }
  // Table Values
  &.table-values {
    td:first-child {
      text-align: right;
    }
  }
}

.table-favorites {
  width: auto;
  table-layout: fixed;
  tr {
    th {
      &.actions {
        @include visually-hidden();
      }
    }
    td {
      padding-top: 0.25rem;
      padding-bottom: 0.25rem;
      vertical-align: initial;
      &.name {
        width: 100%;
      }
      &.actions {
        text-align: right;
      }
    }
  }
}