// Table
// Table Responsive
.table-responsive {
	&::-webkit-scrollbar {
		background: transparent;
		border-radius: 100px;
		width:      3px;
		height:     3px;
		@include media-breakpoint-up($navbar-expand) {
			width:      10px;
			height:     10px;
		}
	}
	&::-webkit-scrollbar-track {
		background:  transparent;
	}
	&::-webkit-scrollbar-thumb {
		background: hsla(var(--eqk-color-hsl, 220, 20%, 40), 0.35);
		border-radius: 100px;
	}
	&::-webkit-scrollbar-thumb:active {
		background: hsla(var(--eqk-color-hsl, 220, 20%, 40), 0.65);
	}
}

.table {
	tbody {
		border: 0 !important;
	}
}

// Table
.table-data {
	$td-border-radius: 0.5rem;
	color: inherit;
	th,
	td {
		border:      0;
		white-space: nowrap;
	}
	th {
		color:          var(--body-color-muted);
		font-size:      80%;
		font-weight:    bold;
		font-family:    $font-family-heading-sans-serif;
		text-transform: uppercase;
	}
	tr {
		vertical-align: baseline;
		&:hover,
		&.equreka-term-hover {
			td {
				background: hsla(var(--term-color-hsl, var(--eqk-color-hsl)), 0.15);
				a {
					color :hsla(var(--term-color-hsl, var(--eqk-color-hsl)), 1);
				}
			}
		} 
		td {
			transition: background-color 0.35s ease;
			&:first-child {
				border-radius: $td-border-radius 0 0 $td-border-radius;
			}
			&:last-child:last-child {
				border-radius: 0 $td-border-radius $td-border-radius 0;
			}
		}
	}
	
	.math-symbol-constant,
	.math-symbol-variable,
	.math-symbol-magnitude {
		font-weight: 600;
		color: var(--body-color-highlight);
	}
	.math-symbol-unit {
		font-size: 105%;
	}
	.math-value-unit,
	.math-value-constant {
		font-size:   110%;
		font-weight: normal;
		font-style:  normal;
	}
}

.table-favorites {
	width: auto;
	table-layout: fixed;
	font-size: 0.95rem;
	margin: 0;
	tr {
		th {
			&.actions {
			@include visually-hidden();
			}
		}
		td {
			padding-top: 0.35rem;
			padding-bottom: 0.35rem;
			vertical-align: initial;
			&.name {
				width: 100%;
			}
			&.actions {
				text-align: right;
			}
		}
	}
}