// Layout: App
.layout.app {
  @if $app-header {
    padding: calc(#{$app-nav-height} + #{$app-nav-margin * 2}) 0;
  } 
  @else {
    padding-bottom: calc(#{$app-nav-height} + #{$app-nav-margin * 2});
  }
  .page-title {
    margin-top: 0;
  }
}