// Page: Category
main.category {
	section.description {
		background: var(--body-bg-high);
		.btn-collapse {
			font-weight: bold;
			transition:  margin 0.35s ease-in-out;
			@include rs('font-size', 1rem, 2vw, 1.25rem);
		}
		.lead {
			margin-bottom: 0;
			@include rs('margin-top', 0.5rem, 2vw, 1rem);
		}
	}
}
