// Page: Data
.page-data {
  main {
    font-size: 85%;
    overflow: hidden;
    @include media-breakpoint-up(md) {
      font-size: 100%;
    }
    
    a {
      color: var(--body-color);
      &:hover {
        color: var(--term-color);
      }
    }
    section {
      padding:  1rem 0;
      // Title
      .title {
        font-weight:   600;
        font-size:     1.35rem;
        margin-bottom: 1.25rem;
      }
      // Sub-title
      .subtitle {
        font-weight: 500;
        font-size:   1rem;
        opacity:     0.75;
      }
      // Expression / Symbol
      &.expression,
      &.symbol {
        color:           var(--body-color-highlight);
        display:         flex;
        align-items:     center;
        justify-content: center;
        flex:            1 1 100%;
        order:           0;
        .hover {
          color: var(--term-color);
        }
      }

      // Expression
      &.expression {
        padding:   1rem 0;
        font-size: 120%;
        @supports (font-size: clamp(1vw, 1vw, 1vw)) {
          font-size: clamp(1.5rem, 2.5vw, 2.5rem);
        }
      }

      // Symbol
      &.symbol {
        padding:   0;
        font-size: 140%;
        @supports (font-size: clamp(1vw, 1vw, 1vw)) {
          font-size: clamp(1.5rem, 4vw, 4rem);
        }
      }

      // Terms
      &.terms,
      &.values {
        padding-bottom: 0;
        .row {
          display:       flex;
          margin-bottom: -1rem;
          & > * {
            flex:          inherit;
            width:         auto;
            margin-bottom: 1.5rem;
            @include media-breakpoint-down(sm) {
              flex:  1;
              width: 100%;
            }
          }
        }
        // Table Responsive
        .table-responsive {
          margin: -0.75rem -0.5rem 0;
          &::-webkit-scrollbar {
            background: rgba(0,0,0, 0.15);
            width:      10px;
            height:     10px;
          }
          &::-webkit-scrollbar-thumb {
            background:    var(--separator-color);
            border-radius: 5px;
            transition:    $transition-all-ease;
          }
          &::-webkit-scrollbar-thumb:active {
            background: var(--bs-primary);            
          }
        }
        // Table
        .table {
          color: inherit;
          width: auto;
          th,
          td {
            border:      0;
            white-space: nowrap;
          }
          th {
            font-size:      80%;
            font-weight:    bold;
            font-family:    $font-family-heading-sans-serif;
            text-transform: uppercase;
            color: var(--body-color-muted);
          }
          tr {
            vertical-align: baseline;
            &:hover {
              td {
                $td-border-radius: 0.5rem;
                background: hsla(var(--term-color-hsl), 0.15);
                &:first-child {                  
                  border-radius: $td-border-radius 0 0 $td-border-radius;
                }
                &:last-child:last-child {
                  border-radius: 0 $td-border-radius $td-border-radius 0;
                }
                &.symbol:first-child {
                  color: var(--term-color, var(--body-color-highlight));
                }
              }
            } 
            td {                
              transition: $transition-all-ease;  
              &:first-child {
                font-weight: 600;
                text-align: center;
              }
              &.symbol {
                color: var(--body-color-highlight);
              }
              &.unit.symbol {
                font-size: 105%;
              }
              &.unit.value {
                font-size: 110%;
                font-weight: normal;
                font-style: normal;
                color: var(--body-color-highlight);
              }
            }
          }
        }
      }
      
      // Description
      &.description {
        p {
          white-space: pre-line;
        }
      }
      
      // Codes
      &.codes {
        .code {
          display:          block;
          width:            100%;
          padding:          0.375rem 0.75rem;
          color:            var(--body-color);
          background-color: var(--input-bg);
          border:           1px solid var(--input-border-color);
          border-radius:    0.25rem;
        }
      }
    }
  }
}