// Page: Data
main.data {
	overflow: hidden;
	@include rs('font-size', 0.9rem, 2vw, 1rem);
	a:not(.btn) {
		color: var(--body-color);
		&:hover {
			color: var(--term-color, var(--eqk-color));
		}
	}
	.table {
		margin: 0;
	}
}
