// Page: Entry
.page-entry {
  main {
    font-size: 85%;
    @include media-breakpoint-up(md) {
      font-size: 100%;
    }
    section {
      padding:  1rem 0;
      overflow: hidden;
      // Title
      .title {
        font-weight:   600;
        font-size:     1.35rem;
        margin-bottom: 1.25rem;
      }
      // Sub-title
      .subtitle {
        font-weight: 500;
        font-size:   1rem;
        opacity:     0.75;
      }
      // Expression
      &.expression {
        padding:         2rem 0 1rem;
        color:           var(--term-color, var(--body-color-highlight));
        display:         flex;
        align-items:     center;
        justify-content: center;
        flex:            1 1 100%;
        order:           0;
        font-size:       120%;
        @supports (font-size: clamp(1.5rem, 5vw, 3rem)) {
          font-size: clamp(1.5rem, 2.5vw, 2.5rem);
        }
        mjx-container,
        mjx-math {
          margin:      0 !important;
          max-width:   100%;
          display:     flex;
          flex:        0 1 auto;
          flex-wrap:   wrap;
          align-items: baseline;
          line-height: 50%;
          outline:     0;
        }
      }

      // Terms
      &.terms {
        padding-bottom: 0;
        .row {
          display:       flex;
          margin-bottom: -1rem;
          & > * {
            flex:          inherit;
            width:         auto;
            margin-bottom: 1.5rem;
            @include media-breakpoint-down(sm) {
              flex:  1;
              width: 100%;
            }
          }
        }
        .table-responsive {
          margin-top: -0.75rem;
          &::-webkit-scrollbar {
            background: rgba(0,0,0, 0.15);
            width:      10px;
            height:     10px;
          }
          &::-webkit-scrollbar-thumb {
            background:    var(--separator-color);
            border-radius: 5px;
            transition:    $transition-all-ease;
          }
          &::-webkit-scrollbar-thumb:active {
            background: var(--bs-primary);            
          }
        }
        .table {
          color: inherit;
          width: auto;
          th,
          td {
            border:      0;
            white-space: nowrap;
            &:first-child {
              padding-left: 0;
            }
            &:last-child {
              padding-right: 0;
            }
          }
          th {
            font-size:      80%;
            font-weight:    bold;
            font-family:    $font-family-heading-sans-serif;
            text-transform: uppercase;
            color: var(--body-color-muted);
          }
          tr {
            vertical-align: baseline;
            &:hover {
              td.symbol {
                color: var(--term-color, var(--body-color-highlight));
              }
            }
            td {    
              &:first-child {
                font-weight: 600;
              }
              &.symbol {
                text-align: center;
                color: var(--body-color-highlight);
                transition: $transition-all-ease;
              }
              &.unit.symbol {
                font-size: 105%;
                transition: $transition-all-ease;
              }
              &.unit.value {
                font-size: 110%;
                color: var(--body-color-highlight);
              }
              a {
                color: var(--body-color);
                &:hover {
                  opacity: var(--body-color-highlight);
                }
              }
            }
          }


        }
      }
      // Description
      &.description {
        p {
          white-space: pre-line;
        }
      }
      
      // Codes
      &.codes {
        .code {
          display:          block;
          width:            100%;
          padding:          0.375rem 0.75rem;
          color:            var(--body-color);
          background-color: var(--input-bg);
          border:           1px solid var(--input-border-color);
          border-radius:    0.25rem;
        }
      }
    }

    .dropdown-options {
      .dropdown-menu {
        min-width: 200px;
        .bi {
          margin-right: 0.5rem;
        }
      }
    }
  }
}