// Page: Entry
.page-entry {
  .dropdown-options {
    margin: 0 0.45rem;
    .btn {
      border-radius: 999rem;
      padding: .5rem;
      border-color: var(--body-bg);
      color: var(--body-bg);
      border-width: 2px;
    }
  }
  main {
    font-size: 85%;
    @include media-breakpoint-up(md) {
      font-size: 100%;
    }
    section {
      padding: 1.5rem 0;
      overflow: hidden;

      h3 {
        font-weight: bold;
        font-size: 1.25rem;
      }
      
      h4 {
        font-weight: bold;
        font-size: 1rem;
      }

      // Expression
      &.expression {
        color:           var(--term-color, var(--body-color-hightlight));
        display:         flex;
        justify-content: center;
        align-items:     center;
        flex:            1 1 100%;
        order:           0;
        font-size:       120%;
        @supports (font-size: clamp(1.5rem, 5vw, 3rem)) {
          font-size: clamp(1.5rem, 3vw, 3rem);
        }
        mjx-container,
        mjx-math {
          margin:      0 !important;
          max-width:   100%;
          display:     flex;
          flex:        0 1 auto;
          flex-wrap:   wrap;
          align-items: baseline;
          line-height: 50%;
          outline:     0;
        }
      }

      // Terms
      &.terms {
        .row {
          display: flex;
          margin-bottom: -1.5rem;
          --bs-gutter-x: 2.5rem;
          & > * {
            flex: inherit;
            width: auto;
            margin-bottom: 1.5rem;
            @include media-breakpoint-down(sm) {
              flex: 1;
              width: 100%;
            }
          }
        }
        .table-responsive {
          &::-webkit-scrollbar {
            background: rgba(0,0,0, 0.15);
            width: 10px;
            height: 10px;
          }
          &::-webkit-scrollbar-thumb {
            background: var(--separator-color);
            border-radius: 5px;
            transition: $transition-all-ease;
          }
          &::-webkit-scrollbar-thumb:active {
            background: var(--bs-primary);            
          }
        }
        .table {
          color: inherit;
          width: auto;
          th,
          td {
            border: 0;
            white-space: nowrap;
            &:first-child {
              padding-left: 0;
            }
            &:last-child {
              padding-right: 0;
            }
          }
          th {
            font-size: 80%;
            font-weight: bold;
            font-family: $font-family-heading-sans-serif;
            text-transform: uppercase;
            opacity: 0.75;
          }
          tr {
            vertical-align: baseline;
            td {
              &.symbol {
                text-align: center;
              }
              &.unit.symbol {
                font-size: 105%;
              }
              &.unit.value {
                font-size: 110%;
              }
              a {
                opacity: 0.65;
                transition: color 0.35s ease, opacity 0.35s ease;
                &:hover {
                  opacity: 1;
                }
              }
            }
          }


        }
      }
      // Description
      &.description {
        p {

        }
      }
      
      // Codes
      &.codes {
        .code {
          display: block;
          width: 100%;
          padding: 0.375rem 0.75rem;
          color: var(--body-color);
          background-color: var(--input-bg);
          border: 1px solid var(--input-border-color);
          border-radius: 0.25rem;
        }
      }
    }

    .dropdown-options {
      .dropdown-menu {
        min-width: 200px;
        .bi {
          margin-right: 0.5rem;
        }
      }
    }
  }
}