// Page Home (Index)
main.home {
	.page-title {
		display: none;
	}
	.search-bar-results {
		position:   absolute;
		margin-top: 0.5rem;
		top:        100%;
		left:       0;
		right:      0;
		border:     0;
		z-index:    999;
		overflow:   hidden;
		.search-bar-items {
			max-height:  60vh !important;
		}
	}
}