@import 'home';
@import 'about';

@import 'error';

@import 'category';
@import 'entry';

.page-enter-active,
.page-leave-active {
  transition: opacity 0.35s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}

.page-category,
.page-entry {
  &::-webkit-scrollbar {
    background: var(--body-bg);
    width: 16px;
    height: 16px;
  }
  &::-webkit-scrollbar-thumb {
    background: hsl(var(--category-color-h), var(--category-color-s), 30%);
    border-radius: 8px;
  }
  &::-webkit-scrollbar-thumb:active {
    background: var(--bs-primary);
  }
}
