@import 'home';
@import 'about';
@import 'data';
@import 'calculator';
@import 'error';
@import 'favorites';
@import 'report';
@import 'search';
@import 'settings';

.page-data {
	&::-webkit-scrollbar {
		background: var(--body-bg);
		width: 16px;
		height: 16px;
	}
	&::-webkit-scrollbar-thumb {
		background: hsl(var(--category-color-h), var(--category-color-s), 30%);
	}
	&::-webkit-scrollbar-thumb:active {
		background: var(--bs-primary);
	}
}
