main.settings {
	h2 {
		small {
			margin-left: 0.5rem;
			font-size: 75%;
		}
	}
	hr {
		opacity: 0.1;
	}
	.btn {
		&::after {
			margin-left: 0.5rem;
		}
	}
	.links {
		a {
			text-decoration: none;
			color: var(--body-color-muted);
		}
	}
}